:root {
  /* color */
  --white-color: #fff;
  --black-color: #251919;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e8e0e0;
  /* size */
  --padding: 12px;
  --avatar-size: 36px;
  /* font size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  background-color: var(--black-color);
  color: var(--white-color);
}

headr .logo {
  font-size: var(--font-large);
}

header .logo i {
  color: var(--red-color);
}

header .icons .fa-search {
  margin-right: var(--padding);
}

/* Video Player */
.player {
  position: sticky;
  top: 0; /*어디에 고정되어 있을지*/
  text-align: center;
  background-color: var(--black-color);
}
.player video {
  width: 100%;
  height: 100%;
  max-width: 1000px;
}
